extends layout

block content
  br

  #averages(style="display:none")= JSON.stringify(average)
  #pit-data(style="display:none")= JSON.stringify(pit)


  h3 Compare Team Matches
  table#manual-table.display(width='100%')

  h3 Team Match Graphs
  select#yaxis.custom-select.mr-sm-2
    option(value='') Choose...
    option(value='6') Cubes in Scale
    option(value='7') Cubes in Switch
    option(value='8') Cubes in Opponent Switch
    option(value='9') Cubes in Exchange
    option(value='10') Cubes Dropped
    option(value='11') Success Percent
    option(value='13') Speed Rating
    option(value='14') Stability Rating
    option(value='15') Skill Rating
    option(value='16') Defence Rating
  canvas#manualChartCanvas(width='100%', height='50')

  h3 Compare Manual Pit Data
  table#pit-table.display(width='100%')

  script
    |  $(document).ready(function() {
    |      var $records = $('#averages'),
    |      myRecords = JSON.parse($records.text());
    |    $('#manual-table').DataTable( {
    |      colReorder: true,
    |      scrollX: true,
    |      paging: false,
    |      scrollY: "600px",
    |      scrollCollapse: true,
    |      fixedColumns: true,
    |      data: myRecords,
    |      columns: [
    |          { data: "_id",
    |            type: "natural",
    |            title: "ID"
    |          },
    |          { data: "scoutName",
    |            title: "Scout Name"
    |          },
    |          { data: "startingPosition",
    |            title: "Starting Position"
    |          },
    |          { data: "autoCrossedBaseline",
    |            title: "Auto Crossed Baseline"
    |          },
    |          { data: "autoSwitchCube", 
    |            title: "Auto Cube in Switch"
    |          },
    |          { data: "autoScaleCube",
    |            title: "Auto Cube in Scale"
    |          },
    |          { data: "teleopScaleCubes",
    |            title: "Cubes in Scale"
    |          },
    |          { data: "teleopSwitchCubes",
    |            title: "Cubes in Switch"
    |          },
    |          { data: "teleopOpponentSwitchCubes",
    |           title: "Cubes in Opponent Switch"
    |          },
    |          { data: "teleopExchangeCubes",
    |           title: "Cubes in Exchange"
    |          },
    |          { data: "teleopDroppedCubes",
    |           title: "Cubes Dropped"
    |          },
    |          { data: "successPercent",
    |            title: "Success Percent"
    |          },
    |          { data: "climbingType",
    |           title: "Climbing Type"
    |          },
    |          { data: "speedRating",
    |           title:"Speed Rating"
    |          },
    |          { data: "stabilityRating",
    |            title: "Stablilty Rating"
    |          },
    |          { data: "skillRating",
    |            title: "Skill Rating"
    |          },
    |          { data: "defenceRating",
    |            title:"Defence Rating"
    |          },
    |          { data: "anythingBreak",
    |            title: "Anything Break"
    |          },
    |          { data: "robotDead",
    |            title: "Robot Dead"
    |          }
    |      ]
    |   } );
    | var t = $('#manual-table').DataTable();
    | $('#yaxis').on('change', function (e) {
    |  var ctx = document.getElementById("manualChartCanvas");
    |  if (window.manualChart != null) {
    |     window.manualChart.destroy();
    |  }
    |  window.manualChart = new Chart(ctx, {
    |      type: 'bar',
    |      data: {
    |          labels: t.column( 0 ).data(),
    |          datasets: [{
    |              label: t.settings().init().columns[$('#yaxis').val()].title,
    |              data: t.column( $('#yaxis').val() ).data(),
    |              backgroundColor: [
    |                  'rgba(255, 99, 132, 0.2)',
    |                  'rgba(54, 162, 235, 0.2)',
    |                  'rgba(255, 206, 86, 0.2)',
    |                  'rgba(75, 192, 192, 0.2)',
    |                  'rgba(153, 102, 255, 0.2)',
    |                  'rgba(255, 159, 64, 0.2)'
    |              ],
    |              borderColor: [
    |                  'rgba(255,99,132,1)',
    |                  'rgba(54, 162, 235, 1)',
    |                  'rgba(255, 206, 86, 1)',
    |                  'rgba(75, 192, 192, 1)',
    |                  'rgba(153, 102, 255, 1)',
    |                  'rgba(255, 159, 64, 1)'
    |              ],
    |              borderWidth: 1
    |          }]
    |      },
    |      options: {
    |          scales: {
    |              yAxes: [{
    |                  ticks: {
    |                      beginAtZero:true
    |                  },
    |                  scaleLabel: {
    |                      display: true,
    |                      labelString: t.settings().init().columns[$('#yaxis').val()].title,
    |                  }
    |              }],
    |                xAxes: [{
    |                  scaleLabel: {
    |                      display: true,
    |                      labelString: 'Team'
    |                  }
    |              }]
    |          }
    |      }
    |  });
    |
    | });
    |
    |});
    |  $(document).ready(function() {
    |      var $records = $('#pit-data'),
    |      myRecords = JSON.parse($records.text());
    |    $('#pit-table').DataTable( {
    |      colReorder: true,
    |      scrollX: true,
    |      scrollY: "600px",
    |      scrollCollapse: true,
    |      fixedColumns: true,
    |      paging: false,
    |      data: myRecords,
    |      columns: [
    |          { data: "_id",
    |            title: "ID"
    |          },
    |          { data: "scoutName",
    |            title: "Scout Name"
    |          },
    |          { data: "manipulatorType",
    |            title: "Manipulator Type"
    |          },
    |          { data: "placeCubes",
    |            title: "Can Place Cubes In"
    |          },
    |          { data: "robotSize", 
    |            title: "Robot Size"
    |          },
    |          { data: "robotAppearance",
    |            title: "Overall Appearance"
    |          },
    |          { data: "pitSkill",
    |            title: "Pit Crew Skill"
    |          },
    |          { data: "climberType",
    |            title: "Climber Type"
    |          },
    |          { data: "robotDone",
    |           title: "Robot Done"
    |          },
    |          { data: "robotBroken",
    |           title: "Robot Broken"
    |          },
    |          { data: "notesAndComments",
    |           title: "Comments"
    |          },
    |      ]
    |   } );
    |  } );

